*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--dark-violet: hsl(256, 26%, 20%);
	--grayish-blue: hsl(216, 30%, 68%);
	--very-dark-violet: hsl(270, 9%, 17%);
	--dark-grayish-violet: hsl(273, 4%, 51%);
	--very-light-gray: hsl(0, 0%, 98%);

	font-size: 16px;
	/* headings */
	font-family: "DM Serif Display", serif;
	/* paragraphs */
	font-family: "Karla", sans-serif;
}

a {
	text-decoration: none;
	color: var(--very-light-gray);
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
}

.container {
	width: min(100% - 3rem, 69rem);
	margin-inline: auto;
}

.nav-desktop {
	display: none !important;
}

.nav-mobile {
	display: none;
}

nav {
	background-color: white;
	padding-block: 1.5rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

nav > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav > .container > img {
	width: min-content;
	height: min-content;
}

.nav-desktop {
	display: flex;
	gap: 1.5rem;
	align-items: center;
}

.btn {
	text-decoration: none;
	letter-spacing: 0.125rem;
	font-weight: 700;
	padding: 0;
}

.btn-clear {
	color: var(--dark-grayish-violet);
	font-size: 0.8rem;
	background: none;
	border: none;
}

.btn-clear:hover {
	color: var(--very-dark-violet);
}

.btn-secondary {
	border: 2px solid var(--very-dark-violet);
	color: var(--very-dark-violet);
	padding: 0.5rem 1.5rem;
	font-size: 0.9rem;
}

.btn-secondary:hover {
	background-color: var(--very-dark-violet);
	color: var(--very-light-gray);
}

.btn-primary {
	border: 2px solid var(--very-light-gray);
	color: var(--very-light-gray);
	padding: 0.5rem 1.5rem;
	font-size: 0.9rem;
}

.btn-primary:hover {
	border: 2px solid var(--very-dark-violet);
	color: var(--very-dark-violet);
	background-color: var(--very-light-gray);
}

.btn-nav {
	display: flex;
	align-items: center;
}

.nav-mobile.active {
	display: flex;
}

.menu-icon.active {
	content: url(./images/icon-close.svg);
}

.nav-mobile {
	position: absolute;
	background-color: var(--very-dark-violet);
	background-image: url(./images/bg-pattern-mobile-nav.svg);
	background-repeat: no-repeat;
	background-position-y: bottom;
	background-size: 100%;
	content: "";
	top: 5rem;
	left: 0;
	padding-inline: 1.5rem;
	width: 100%;
	height: 100vh;
	flex-direction: column;
	gap: 2rem;
	justify-content: start;
	align-items: center;
	padding-top: 3rem;
	z-index: 300;
}

.nav-mobile > a {
	font-size: 1.25rem;
	color: var(--very-light-gray);
	width: 100%;
	text-align: center;
}

main {
	margin-top: 5rem;
}
#section1 > .container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	width: 100%;
}

#section1 > .container > img {
	margin-inline: auto;
}

#section1 {
	background-color: var(--dark-violet);
	position: relative;
}

.view-plans {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	grid-row: 2;
	margin-block: 5rem;
	position: relative;
}

.view-plans h1 {
	color: var(--very-light-gray);
	font-family: "DM Serif Display", serif;
	font-weight: 400;
	font-size: 2.5rem;
	position: relative;
	text-align: center;
	margin-bottom: 0;
	line-height: 1;
}

.view-plans p {
	color: hsla(0, 0%, 98%, 100%);
	font-weight: 400;
	font-size: 1rem;
	text-align: center;
	line-height: 1.75;
}

.view-plans .btn {
	margin: 0 auto;
}

.pattern-left-mobile {
	position: absolute;
	top: -22%;
	left: 0;
	width: 40%;
	overflow: visible;
}

.pattern-right-mobile {
	position: absolute;
	right: 0;
	bottom: -70%;
	width: 30%;
}
.pattern-left-desktop {
	display: none;
}
.pattern-right-desktop {
	display: none;
}

#section2 {
	padding-block: 5rem;
	display: grid;
	gap: 4rem;
}

#section2 h1::after {
	position: absolute;
	content: "";
	width: 25%;
	top: -2.5rem;
	left: 50%;
	transform: translateX(-50%);
	border-top: 1px solid var(--dark-violet);
}

#section2 h1 {
	color: var(--dark-violet);
	font-family: "DM Serif Display", serif;
	font-weight: 400;
	font-size: 2.5rem;
	position: relative;
	text-align: center;
	line-height: 1;
}

#section2 h2 {
	font-family: "DM Serif Display", serif;
	font-size: 1.65rem;
	font-weight: 400;
}

#section2 p {
	color: var(--dark-grayish-violet);
}
#section2 .differences {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 1rem;
}

#section2 .how-we-work {
	background-color: var(--dark-violet);
	color: var(--very-light-gray);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5rem 2rem;
	background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
	background-repeat: no-repeat;
	background-position: top right;
}

#section2 .how-we-work h1 {
	color: var(--very-light-gray);
	margin-top: 0;
}

footer {
	display: flex;
	background-color: var(--very-light-gray);
	padding-block: 2rem;
}

footer .logo {
	background-image: url(./images/bg-pattern-footer-mobile.svg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

footer h3 {
	color: var(--dark-grayish-violet);
	font-weight: 700;
	font-size: 1rem;
	text-align: center;
	line-height: 1.75;
}

footer ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	gap: 0.5rem;
}

footer li {
	font-weight: 700;
	font-size: 0.9rem;
	letter-spacing: 0.125rem;
	color: var(--dark-violet);
}

footer a {
	color: var(--very-dark-violet);
}
footer a:hover {
	text-decoration: underline;
}

.social-media-grid {
	display: flex;
	gap: 1rem;
}

.icon:hover {
	fill: var(--dark-violet);
	cursor: pointer;
}

.logo > img {
	width: min-content;
	height: min-content;
}

@media (min-width: 975px) {
	footer .logo {
		flex-direction: row;
		justify-content: space-between;
	}
	.footer-nav {
		display: grid;
		justify-items: start;
		align-items: start;
		grid-template-columns: repeat(4, 1fr);
	}
	footer h3 {
		text-align: start;
	}
	footer {
		display: flex;
		background-color: var(--very-light-gray);
		padding-block: 2rem;
		background-image: url(./images/bg-pattern-footer-desktop.svg);
		background-repeat: no-repeat;
		background-position: top left;
	}

	footer .logo {
		background-image: url("");
	}

	footer li {
		text-align: start;
		align-self: flex-start;
	}
	.pattern-left-desktop {
		position: absolute;
		bottom: -60%;
		width: 14%;
		display: flex;
	}

	.pattern-right-desktop {
		position: absolute;
		right: 0;
		top: -12%;
		width: 30%;
		display: flex;
	}
	.nav-desktop {
		display: flex !important;
	}
	.btn-nav {
		display: none;
	}
	.nav-mobile {
		display: none;
	}
	.nav-mobile.active {
		display: none;
	}
	.pattern-left-mobile {
		display: none;
	}
	.pattern-right-mobile {
		display: none;
	}
	#section1 > .container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		width: min(100% - 3rem, 69rem);
	}
	.view-plans {
		grid-column: 1;
		grid-row: 1;
		padding-inline-end: 1rem;
		align-items: flex-start;
	}
	.view-plans p {
		text-align: start;
	}

	.view-plans h1 {
		font-size: 4.25rem;
		margin-right: 1.5rem;
		text-align: start;
	}

	.view-plans .btn {
		margin: 0;
	}

	#section1 > .container > img {
		margin-top: 7rem;
		margin-bottom: -10rem;
		content: url(.//images/image-intro-desktop.jpg);
	}
	.view-plans h1::after {
		position: absolute;
		content: "";
		width: 25%;
		top: -2.5rem;
		left: 0;
		border-top: 1px solid var(--very-light-gray);
	}
	#section2 .differences {
		flex-direction: row;
		text-align: start;
	}

	#section2 {
		padding-block: 20rem;
	}

	#section2 > h1 {
		text-align: start;
		font-size: 5rem;
	}
	#section2 h1::after {
		left: 0;
		transform: translateX(0%);
	}

	#section2 .how-we-work {
		flex-direction: row;
		justify-content: space-around;
		background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
		background-repeat: no-repeat;
		background-position: top right;
		padding: 3rem;
	}
	#section2 .how-we-work h1 {
		font-size: 3rem;
		width: 50%;
		text-align: start;
	}
}
